
.main-div{
  align-items: center;
  display:block;
  position:relative;
  margin: 20px;
  padding: 10px;
  font-family: cursive;
  
}
.btn{
  align-items: center;
  margin: 5px;
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
}

.no-btn:hover {
  animation: shake 0.3s ease-in-out;
}